* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: PlayfairDisplay;
    src: url(../assets/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: AllertaStencil;
    src: url(../assets/AllertaStencil-Regular.ttf);
}

/*@font-face {
    font-family: LibreBaskerville;
    src: url(../assets/LibreBaskerville-Regular.ttf);
}*/

@font-face {
    font-family: OpenSans;
    src: url(../assets/OpenSans-VariableFont_wdth\,wght.ttf);
}

h1 {
    font-family: PlayfairDisplay;
    font-weight: 300;
    text-align: center;
}

h2 {
    font-family: PlayfairDisplay;
    font-weight: 300;
    text-align: center;
    background-color: #CEB5A7;
    padding-top: 50px;
    font-size: 30px;
}

h3 {
    font-family: PlayfairDisplay;
    font-weight: 300;
}

@media screen and (min-width: 1300px) {
    h2 {
      font-size: 60px;  
    }
}

.header-box {
    height: 70px;
    background-color: #CEB5A7;
    font-size: 30px;
    font-family: PlayfairDisplay;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
}

.card {
    display: flex;
    flex-flow: row wrap;
    margin: 40px;
    margin-bottom: 80px;
}

.card-img {
    width: 50%;
}

img {
    width: 100%;
    border-radius: 4px;
}

h1 {
    font-family: AllertaStencil;
    font-size: 80px;
    text-align: center;
}

@media screen and (min-width: 1300px) {
    h1 {
      font-size: 80px;  
    }
}

.card-text {
    font-family: AllertaStencil;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #F0E9E5;
    border-radius: 4px;
}

.card-text2 {
    font-family: OpenSans;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: #F0E9E5;
    max-width: 600px;
}

@media screen and (min-width: 1300px) {
    .card-text2 {
      font-size: 24px;  
    }
}

.card-text3 {
    font-family: OpenSans;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: #F0E9E5;
    max-width: 600px;
}

@media screen and (min-width: 1300px) {
    .card-text3 {
      font-size: 24px;  
    }
}

.button {
    background-color: #54C4F1;
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: OpenSans;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

@media screen and (min-width: 1300px) {
    .button {
      font-size: 30px;
      margin: 40px;
    }
}

.button:hover {
    background-color: #FFF;
    color: black;
}

.button2 {
    background-color: #54C4F1;
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: OpenSans;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.button2:hover {
    background-color: #FFF;
    color: black;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CEB5A7;
    height: 600px;
    margin-bottom: 100px;
}

@media screen and (min-width: 1300px) {
    .wrapper {
    height: 900px;
    }
}

video {
    height: 500px;
    margin: 12px;
}

@media screen and (min-width: 1300px) {
    video {
    height: 700px;
    }
}

.wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 150px;
}

/*.textbox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    font-family: LibreBaskerville;
    font-size: 16px;
    line-height: 1.8;
}*/

.container {
    width: 1000px;
    margin: 0 auto;
}

.wrapper3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    
}

.wrapper3 img {
    width: 300px;
    border: 0.5px solid black;
    padding: 20px;
    margin-left: 5px;
}

.footer {
    height: 100px;
    background-color: #CEB5A7;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    border-top: 1px solid black;
    padding-top: 40px;
}

h3 a {
    color: #000;
    text-decoration: none;
}

h3 a:hover {
    color: #FFF;
    border-bottom: 2px solid #FFF;
}

